@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&family=Sunflower:wght@300&display=swap');

.ql-editor {
    font-size: 16px;
}

.ql-container {
    border: none !important;
    outline: none !important;
}

.ql-snow {
    border: none !important;
    outline: none !important;
}

/* 폰트 설정 */


.ql-font-Pretendard {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;;
}


.ql-font-NanumGothic {
    font-family: var(--font-nanum-gothic);
}

.ql-font-Jua {
    font-family: var(--font-jua);
}

.ql-font-NotoSans {
    font-family: var(--font-noto-sans-kr);
}

.ql-font-NotoSerif {
    font-family: var(--font-noto-serif-kr);
}

.ql-font-BlackHanSans {
    font-family: var(--font-black-han-sans);
}

.ql-font-DoHyeon {
    font-family: var(--font-do-hyeon);
}

.ql-font-NanumPenScript {
    font-family: "Nanum Pen Script", cursive;
}

.ql-font-GothicA1 {
    font-family: var(--font-gothic-a1);
}

.ql-font-Dongle {
    font-family: var(--font-dongle);
}

.ql-font-Sunflower {
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
}

.ql-font-Hahmlet {
    font-family: var(--font-hahmlet);
}

.ql-font-Gugi {
    font-family: var(--font-gugi);
}

.ql-font-Gaegu {
    font-family: var(--font-gaegu);
}

.ql-font-GamjaFlower {
    font-family: var(--font-gamja-flower);
}

.ql-font-GowunDodum {
    font-family: var(--font-gowun-dodum);
}

.ql-font-GowunBatang {
    font-family: var(--font-gowun-batang);
}

.ql-font-SongMyung {
    font-family: var(--font-song-myung);
}

.ql-font-CuteFont {
    font-family: var(--font-cute-font);
}

.ql-font-EastSeaDokdo {
    font-family: var(--font-east-sea-dokdo);
}

.ql-font-Stylish {
    font-family: var(--font-stylish);
}

.ql-font-SingleDay {
    font-family: var(--font-single-day);
}

.ql-font-YeonSung {
    font-family: var(--font-yeon-sung);
}

.ql-font-GasoekOne {
    font-family: var(--font-gasoek-one);
}

.ql-font-BagelFatOne {
    font-family: var(--font-bagel-fat-one);
}

.ql-font-Orbit {
    font-family: var(--font-orbit);
}

/** 외곽선 설정 **/

.ql-outline-small {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1ea7fd;
}

.ql-outline-medium {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1ea7fd;
}

.ql-outline-large {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #1ea7fd;
}

/** 장평 설정 **/
.ql-fontStretch-50 {
    font-stretch: 50%;
}

.ql-fontStretch-75 {
    font-stretch: 75%;
}

.ql-fontStretch-100 {
    font-stretch: 100%;
}

.ql-fontStretch-125 {
    font-stretch: 125%;
}

.ql-fontStretch-150 {
    font-stretch: 150%;
}
