@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.ql-editor {
    font-size: 18px;
    border: none;
    outline: none;
}

.ql-container {
    border: none !important;
    outline: none !important;
}

.ql-snow {
    border: none !important;
    outline: none !important;
}

/* 폰트 설정 */

.ql-font-NanumGothic {
    font-family: "Nanum Gothic", sans-serif;
}

.ql-font-Pretendard {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;;
}

.ql-font-Jua {
    font-family: "Jua", sans-serif;
}

.ql-font-NotoSans {
    font-family: "Noto Sans KR", sans-serif;
}

.ql-font-NotoSerif {
    font-family: "Noto Serif KR", serif;
}

.ql-font-BlackHanSans {
    font-family: "Black Han Sans", sans-serif;
}

.ql-font-DoHyeon {
    font-family: "Do Hyeon", sans-serif;
}


/** 외곽선 설정 **/

.ql-outline-small {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1ea7fd;
}

.ql-outline-medium {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1ea7fd;
}

.ql-outline-large {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #1ea7fd;
}

/** 장평 설정 **/
.ql-fontStretch-50 {
    font-stretch: 50%;
}

.ql-fontStretch-75 {
    font-stretch: 75%;
}

.ql-fontStretch-100 {
    font-stretch: 100%;
}

.ql-fontStretch-125 {
    font-stretch: 125%;
}

.ql-fontStretch-150 {
    font-stretch: 150%;
}
